* {
	box-sizing: border-box;
}

#wrap {
	max-width: 100%;
	margin: auto;
}
.ok img { width: 100%;
		
}
.ok { width: 31.5%;
		float: left;
		margin: 17px;

}

#wrap h1 {
	text-align: center;
	font-size: 100px;
	line-height: 200px;
	animation: old 5s ease infinite;
}

#wrap p {
	text-align: right;
}

@keyframes old {
	0% {background-color: white; color: black;}
	25% {background-color: black; color: white}
	50% {background-color: white; color: black}
	75% {background-color: black; color: white}
	100% {background-color: white; color: black}
}

.one img {
	
	transition: transform 1s linear;
}

.two img {
	opacity: 1;
	transition: opacity 2s linear;
	transition: transform 3s linear;
}

.one:hover img {
	transform: translate(5px, -15px);
	box-shadow: 5px 10px 5px 0px rgba(0, 0, 2, 2)

}
.two:hover img {

	transform: scale(1.2);
	opacity: 0.5;
}
.two {
	overflow: hidden;
}

@keyframes blood {
	0% {color: green; margin-right: 0px;}
	25% {color: red; margin-right: 700px;}
	50% {color: white; margin-right: 1400px;}
	75% {color: blue; margin-right: 700px;}
	100% {color: black; margin-right: 0px;}
}

#scot {
clear: both;
}

span {
	float: right;
	font-size: 20px;
	animation: blood 30s ease infinite;
}
