@font-face {
	font-family: fontlogo;
	src:url("../font/ReklameScript-Regular_DEMO.eot?")
	format("eot"),url("../font/ReklameScript-Regular_DEMO.woff")
	format("woff"),url("../font/ReklameScript-Regular_DEMO.ttf")
	format("truetype"),url("../font/ReklameScript-Regular_DEMO.svg#ReklameScript-RegularDEMO")
    format("svg");
    font-weight:normal;
    font-style:normal;
}
body {
    font-family: Lato;
    header {
        .brand-logo {
            font-family: fontlogo;
            font-size: 28px;
            color: #d9d9d9;
        }
        nav {
            background-color: #ffffff;
            color: #d9d9d9;
            font-size: 13px;
        }
    }
    
}