* {
	box-sizing: border-box;
}
body {
	background-image: url('../img/back7.jpg');
	background-size: cover;
}
#master {
	max-width: 1200px;
	margin: 0 auto;
}
#title {
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	color: #dfcdcd;
	font-family: "Tahoma", sans-serif;
	text-shadow: 5px 10px  5px black;
}
.war {
	margin: 0 auto;
	margin-top: 80px;
	margin-left: 30px;
}
.one {
	width: 100%;
}
.card {
	width: 12%;
	float: left;
	position: relative;
	padding: 5px;

}
.card img {
	width: 100%;
	float: left;
	border-radius: 10px;
	top: 0;
	left: 0;
}
.card:hover {
	box-shadow: 0px 0px 20px 0px grey;
}
.card > .front{
	transform: perspective( 600px ) rotateY( 180deg);
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	position: absolute;
}
.card > .back{
	transform: perspective( 600px ) rotateX( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.front.js-front {
	transform: perspective( 600px ) rotateY( 0deg );
}
.back.js-back {
	transform: perspective( 600px ) rotateY( -180deg );
}
/@media (max-width: 800px) and (min-width: 400px ){
	.card {
	width: 50%
}