#one {
		
	border: 3px double oldlace;	
	width: 33%;
	padding-bottom: 5px;
	float: left;
	margin: 1px;
}

#two {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
	
}
#three {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}
#four {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}
#five {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}
#six {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}
#seven {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}
#eight {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}

#nine {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}

#ten {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}

#black {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}

#green {
	width: 33%;
	float: left;
	padding-bottom: 5px;
	border: 3px double oldlace;
	margin: 1px;
}