del {
	color: grey;
	font-size: 12px;
}
i {
	font-size: 16px;
	color: grey;
}
.card-text {
	color:  #e44c2a;
	font-weight: bold;
}
.foot-today, .foot-menu {
	margin-top: 100px;
}
.bg-light {
	background-color: white !important;
}
.menu-tab {
	text-align: center;
}
.nav-item {
	position: relative;
	display: inline-block;
}