footer {
  width: 100%;
  height: 650px;
  background-image: url("../images/back1.jpg");
  background-size: cover;
  color: white;
}
footer address {
  width: 30%;
  float: left;
  margin: 100px 0px 0px 26px;
}
address p {
  margin-bottom: 10px;
}
address a {
    text-decoration: none;
    color: grey;
}
address img {
  width: 45%;
}
#card {
  width: 40%;
}
#map {
  opacity: 0.5;
}
#map:hover {
  opacity: 1;
  transition: all 1s linear;
}