* {
    box-sizing: border-box;
}
body {
	margin: auto;
	
}
.blood {
	margin: 0 auto;

}

.banner {
	max-width: 100%;
	text-align: center;
	
	
}
.clear{
	clear: both;
}
.avatar img {
	position: fixed;
	width: 250px;
    border-radius: 50%;
    opacity: 0.4;
    top: 1px;
    left: 1px;
}

.hi {
	margin-top: 200px;
}	

.menu {
	width: 1600px;
    margin: auto;
	line-height: 50px;
    font-size: 22px;
    font-family: sans-serif;


}
ul.navigation{
	list-style: none;

}
ul.navigation li {
	float: left;
	position: relative;
	padding: 0 70px;
	background-color: #eee;

	
}

ul.navigation li a {
	display: inline-block;
	text-decoration: none;	
	line-height: 20px;


}

.navigation .submenu{
	display: none;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;

}
.navigation .submenu li .submenu2{
	display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #eee;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}
.navigation .submenu li{
	display: block;
	border-bottom: 1px solid #ccc;
}
.navigation .submenu li a{
	line-height: 30px;
}
.navigation .submenu li:hover .submenu2{
	display: block;
}
.navigation li:hover .submenu{
	display: block;
}




a:link {
	color: #006666;
}
a:visited {
	color: black;	
}
	
a:active {
	color: #800040;
}
	

.content {
	margin-top: 200px;
}
div .content {
	text-align: center;
}

.content img {
	width: 100%;
	
}
.container {
	width: 1600px;
	margin: 0 auto;

}

.img-float {
	padding: 10px;
	width: 50%;
	float: left;
	text-align: left;
	
}

.connten {
	text-align: left;
}

.connten img {
	margin-top: 200px;
}

.connten div {
	width: 25%;
	float: left;
	margin-top: 200px;
	padding: 60px;
	font-size: 20px;
}


.img-float span {
	font-family: Helvetica, Arial, Tahoma;
	color: #663300;
	
}
.img-float strong{
	font-size: 40px;
	color: grey;
}

.over {

	width: 1600px;
	margin: auto;

}
.under {
	margin-top: 200px;
}
.under img {
	width: 100%;


}
.img-main4 {

	padding: 10px;
	width: 32%;
	float: left;
	text-align: left;
}


.img-main4:hover img {
	
	box-shadow: 5px 10px 5px 0px rgba(0, 0, 2, 2)
}


.img-main4 span{
	font-family: Helvetica;
	color: #663300;
}

.img-main4 strong {
	font-size: 40px;
	color: grey;
}

.img-one {
	margin: auto;
	text-align: left;
	font-size: 20px;
	color: grey;
	width: 900px;
}
.monney {
	color: 	 #b3003b;
	font-size: 30px;
}


.bor strong {
	font-size: 45px;
	color: #b30000;
}

#icons img {
	width: 70px;
	margin: 25px;
	transition: transform 5s linear;
}

#icons a img:hover  {
	transform: rotate(360deg);
}
.click {
	position: fixed;
    bottom: 1px;
    right: 1px;
    float: right;
}
.click img {
	width: 30px;
	margin: auto;
	 
}

p {
	font-size: 16px;
}

@keyframes blood {
	0% {color: green; margin-right: 0px;}
	25% {color: red; margin-right: 700px;}
	50% {color: white; margin-right: 1400px;}
	75% {color: blue; margin-right: 700px;}
	100% {color: black; margin-right: 0px;}
}

#run {
	
	float: right;
	font-size: 20px;
	animation: blood 30s ease infinite;
}
