h1,p{
  color:red;
  text-align:center;
  text-shadow:-1px -1px 1px white, -1px -1px rgba(255,255,255,0.5);
  font-family:Georgia, Times, Times New Roman, serif;
}
h1{
  margin-top:100px;
  text-shadow:-1px -1px 2px white, -1px -1px white;
}
p:last-of-type{
  margin-bottom:150px;
}
cite{
  font-family:arial;
  text-align:right;
  display:inline-block;
  width:100%;
  max-width:400px;
}

body{
  margin:auto;
  background-color:#333344;
  background:linear-gradient(#000, #334 70%, #335);
}
.snow{
  position:relative;
  overflow:hidden;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 3px),
  radial-gradient(white, white 40%, transparent 60%),
  radial-gradient(white, white 40%, transparent 70%);
  background-size: 511px 511px, 413px 413px,207px 10%,211px 11%; 
  background-repeat:repeat,repeat,repeat-x,repeat-x;
  background-position: 0 0, -20px -10px,97px 103%,13px 106%;
}
.snow::before,
.snow::after{
  content:'';
  z-index:-1;
  position:absolute;
  top:-2000px;
  right:-200px;
  bottom:0;
  left:-200px;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px);
  background-size: 500px 500px, 250px 250px; 
  background-position: 0 0, 40px 60px;
  animation:snow 13.2s infinite linear;
}
.snow::after{
  background-image:
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px), 
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px);
  background-size: 413px 413px,233px 233px; 
  background-position: 70px 100px,130px 270px;
  animation:snow 11.7s infinite linear;
  animation-delay:-5.07s;
}
@keyframes snow{
  0%{
    transform:translate(0,0);opacity:0;
  }
  10%{opacity:1;}
  50%{
    transform:translate(-100px,1000px);opacity:.2;
  }
  90%{opacity:1;}
  100%{
    transform:translate(0,2000px);opacity:0;
  }
}

