.wrap {
	max-width: 1500px;
	margin: auto;
	text-align: center;

}
.two img {
	transition: transform 10s linear;
	border: 1px solid black;
	animation: pro 20s ease infinite;
	


}

.one img {
	width: 120px;
	float: right;
	animation: liss 20s ease infinite;

}


.two img:hover {
	
	box-shadow: 1px 10px 5px 1px rgba(0, 0, 2, 2);
	transform: scale(1.2);
	

	
}
		

@keyframes old {
	0% { color: black;}
	25% { color: red;}
	50% { color: green;}
	75% { color: blue;}
	100% { color: pink;}
}

h1 {
	
	animation: old 5s ease infinite;
	line-height: 50px;
	
	
}

@keyframes pro {
	0% { margin-left: 5px; margin-right: 0px;}
	25% { margin-left: 0px; margin-right: 5px;}
	50% { margin-left: 5px; margin-right: 0px;}
	75% { margin-left: 0px; margin-right: 5px;}
	100% { margin-left: 5px; margin-right: 0px;}
}

@keyframes liss {
	0% { margin-left: 0; margin-right: 100px;}
	25% { margin-left: 0; margin-right: 400px;}
	50% { margin-left: 0; margin-right: 600px;}
	75% { margin-left: 0; margin-right: 900px;}
	100% { margin-left: 0; margin-right: 1300px;}
}
