
#one {
	background-image: url('../images/one.jpg');
	background-size: cover;
	min-height: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
   	 background-position: center;    
}
#two {
	background-image: url('../images/two.jpg');
	background-size: cover;
	min-height: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	 background-position: center;    
}
#three {
	background-image: url('../images/three.jpg');
	background-size: cover;
	min-height: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
   	 background-position: center;    

}