* {
	margin: 0;
	padding: 0;
}
body {
	
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
	background-size: cover;
}
#master  {
	width: 520px;
	height: 680px;
	margin: 0 auto;
	margin-top: 100px;	
	position: relative;
}
#ip {
	margin-top: 20px;
	margin-left: 5px;	
}
#master input {
	margin: 0 auto;
	border: 1px solid grey;
	font-size: 50px;
	width: 94%;
	height: 100px;
	text-align: right;
	background-color: grey;
	 color: #800000;
}
#bt {
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 7px;
}
#master button {
	font-size: 25px;
	height: 80px;
	width: 83px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	border-radius: 20px;
	text-align: center;
	color: 
}
#pt	{
	float: left;
}
#clear {
	margin-left: 30px;
}
#clear button {
	width: 43%;
    border-radius: unset;
    margin: 0 auto;
}
.btn {
	color: #660000;
}
.bt {
	background: #538cc6;
	color: #eee;
	border: 1px solid #001a1a;
	
}
.bto {
	background: #b3b3ff;
	color: #eee;
}