
.navbar  {
	background-color: #a13445 !important;
	margin-bottom: 100px;
	transform: skewX(-15deg);
	border-radius: 10px;
}
.navbar h1 {
	color: white;
}
.navbar-brand  {
	margin: 0 auto;
}

svg:not(:root).svg-inline--fa {
	float: right;
	color: black;
	display: none;
}
.bar:hover svg:not(:root).svg-inline--fa {
	display: block;
}
.col-md-3 button {
	padding-right: 19px;
	padding-left: 18px;
	background: #0e5483;
	color: white;
}
.title-h3  {
	background: #191315;
	color: white;
}
.title-h3:hover {
	background: #191315;
	color: white;
}
.group-list-item {
	background-color: grey;
	height: calc(1.5rem + 20px);
}
.dragging {
	transform: rotate(4deg);
}
.col-md-3 {
	text-align: center;
	color: blue;
	padding-top: 0.4rem;
}