* {
    img {
        width: 100%;
    }
    span {
        text-transform: uppercase;
        color: #b4ad9e;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }
    h2 {
        color: #626262;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
    }
    p {
        color: #626262;
        font-size: 14px;
        font-family: 'Playfair Display', serif;
    }
    section {
        .container {
            .content-head {
                padding-left: 80px;
                padding-right: 52px;
                .bag {
                    width: 420px;                
                    .images-fix {
                        height: 280px;
                        width: 420px;             
                    }
                    .bag-write {
                        padding-top: 24px;
                        padding-bottom: 17px;
                    }
                   
                    .bag-body {
                        padding-bottom: 111px;

                    }  
                }
                .bag-write-db {
                    padding-top: 91px;
                    padding-bottom: 17px;
                }
                .bag-title {
                    padding-bottom: 19px;
                    
                }
                .bag-body-db {
                    width: 893px;
                     padding-bottom: 27px;
                }
                .bag-bottom-db {
                   padding-bottom: 128px;

                }
            }
        }
        .content-body {
            background: #f0f0f0;
            padding-top: 63px;
            #icons {
                height: 20px;
                width: 35px;
            }
            h2 {
                color: #333333;
            }
           
        }
    }
}