* {
    img {
        width: 100%;
    }
    span {
        text-transform: uppercase;
        color: #b4ad9e;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }
    h2 {
        color: #626262;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
    }
    p {
        color: #626262;
        font-size: 14px;
        font-family: 'Playfair Display', serif;
    }
    section {
       
        .container {
            .content-head {
                padding-left: 80px;
                padding-right: 52px;
                .bag {
                    width: 420px;                
                    .images-fix {
                        height: 280px;
                        width: 420px;             
                    }
                    .bag-write {
                        padding-top: 24px;
                        padding-bottom: 17px;
                    }
                   
                    .bag-body {
                        padding-bottom: 111px;

                    }  
                }
                .bag-write-db {
                    padding-top: 91px;
                    padding-bottom: 17px;
                }
                .bag-title {
                    padding-bottom: 19px;
                    
                }
                .bag-body-db {
                    width: 893px;
                     padding-bottom: 27px;
                }
                .bag-bottom-db {
                   padding-bottom: 128px;

                }
            }
        }
        .content-body {
            background: #f0f0f0;
            padding-top: 67px;
            padding-bottom: 78px;
            #conten-body-wrap {
                max-width: 400px;
                max-height: 140px;
                margin: 0 auto;
                #icons {
                    height: 20px;
                    width: 35px;
                }
                h2 {
                    text-align: center;
                    color: #333333;
                    letter-spacing: 0.8px;
                    padding-bottom: 68px;
                }
                .ok-all {
                    padding-left: 5px;
                    .ok {
                        display: inline-block;
                    }
                    #icons {
                        float: right;
                    }
                }
                hr {
                    margin-bottom: 0px;
                    margin-top: -8px;
                }
            }
        }
        #content-footer {
            padding-top: 103px;
            .load-button {
                padding-top: 37px;
                padding-bottom: 1367px;
                margin: 0 auto;
                font-family: 'Playfair Display', serif;
               
                button {
                    padding:14px 34px 14px 34px;
                    color: #626262;
                    font-size: 20px;
                }
            }
        }
    }
}
footer {
    background-color: #f0f0f0;
   .footer-wrap {
         padding-top: 33px;
        padding-bottom: 25px;
        .footer-top {
        display: inline-block;
         }
        .footer-body {
        display: inline-block;
        float: right;
        ul {
            li {
                display: inline-block;
                padding-left: 12px;
                p   {
                    padding-right: 9px;
                }
            }
        }
    }
   }
}
@media (max-width: 992px) {
    .bag-body-db {
        width: 100% !important;
    }
};
@media (max-width: 566px) {
   .content-head {
       padding-left: 0px !important;
       padding-right: 0px !important;
    .bag {
        width: 100% !important;
        .images-fix {
         width: 100% !important;
         height: auto !important;
     }
    }
   }
}