nav {
  width: 100%;
  /* height: 120px; */
  /* background-color: #404040; */
  /* border-bottom: 2px solid black; */
  /* font-size: 30px; */
  line-height: 50px;
  position: absolute;
  top: 0;
}
nav:hover {
  background-color: #8c8c8c;
  transition:all 1s 0s linear;
  opacity: 0.7;
}

nav ul {
  list-style:none;
}
nav ul li {
  float:left;
  /* border-right:1px dotted grey; */
  position:relative;
}
nav ul li:last-child{
  border:none;
}
nav ul li a {
  text-decoration:none;
  padding: 10px 28px;
  display:block;
  white-space:pre;
  color: white;
}
nav ul li a:hover{
  background-color: #8c8c8c;
  transition:all 1s 0s linear;
  color: #660000;

}
/* cap 2 */
nav ul ul li{
  float:none;
  border-right:none;
  border-bottom:1px dotted grey;
}
nav ul ul{
  background-color: #404040;
  position: absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
}
nav ul li:hover > ul{
  display:block;
  opacity: 0.8;
}
/* cap 3 */

nav ul ul ul{
  left:100%;
  top:0;
}